# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results (Debug/Release, Bin/Obj, NuGet Packages)
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Pp]ackages/
project.assets.json

# Visual Studio & VS Code cache/options
.vs/
.vscode/
*.user

# Test results
[Tt]est[Rr]esult*/
TestResult.xml

# Build Artifacts
*.pdb
*.obj
*.dll
*.exe

# ReSharper / Third Party
_ReSharper*/
*.DotSettings.user

# Azure/TFS
$tf/
*.publishsettings
